* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 300px) {
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
}

.content {
  line-height: 1.6;
}

footer {
  text-align: center;
  padding: 1em 0;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.error {
  color: red;
  font-size: 0.7em;
  font-weight: 600;
  margin-top: 0.4em;
}
.success {
  color: greenyellow;
  font-size: 0.7em;
  font-weight: 600;
  margin-top: 0.4em;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* From Uiverse.io by nathann09 */
.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  /* padding-right: 3rem; */
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.recognized-text {
  resize: none;
  border: none;
}

.translation-header {
  margin-bottom: 0;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.signup-link {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

/* Translate page */

.translate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
@media (max-width: 700px) {
  .translate-container {
    flex-direction: column;
    gap: 1em;
  }
  
}

.input-section {
  border: solid 1px black;
  width: 80%;
  max-width: 600px;
}
#camera-feed {
  width: 100%;
  height: 220px;
  border-bottom: 1px solid black;
}
.upload-section {
  margin: 10px;
}
.output-section {
  border: solid 1px black;
  width: 80%;
  padding: 10px;
  max-width: 600px;
}
textarea {
  width: 100%;
  min-height: 120px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}
#process-image {
  background-color: #3c35b1;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;

}
.camera-section button {
  padding: 10px 20px;
  background-color: #3c35b1;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 6px 0 0 10px;
  cursor: pointer;
}
#translation-output {
  border: 1px solid #ccc;
  padding: 15px;
  white-space: pre-wrap; /* Preserve line breaks */
}


/* LOADER */
/* From Uiverse.io by satyamchaudharydev */ 
.process-button {
  display: flex;
  align-items: center;
}
.spinner {
  display: none;
 --size: 13px;
 --first-block-clr: #005bba;
 --second-block-clr: #fed500;
 --clr: #111;
 width: 70px;
 height: 50px;
 position: relative;
}

.spinner::after,.spinner::before {
 box-sizing: border-box;
 position: absolute;
 content: "";
 width: var(--size);
 height: var(--size);
 top: 50%;
 animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
 left: 50%;
 background: var(--first-block-clr);
}

.spinner::after {
 background: var(--second-block-clr);
 top: calc(50% - var(--size));
 left: calc(50% - var(--size));
 animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
 0%, 100% {
  transform: none;
 }

 25% {
  transform: translateX(100%);
 }

 50% {
  transform: translateX(100%) translateY(100%);
 }

 75% {
  transform: translateY(100%);
 }
}

@keyframes up {
 0%, 100% {
  transform: none;
 }

 25% {
  transform: translateX(-100%);
 }

 50% {
  transform: translateX(-100%) translateY(-100%);
 }

 75% {
  transform: translateY(-100%);
 }
}
